body{

    background-color: rgb(255, 208, 0); 
}

em{

    font-size: 10px;
    

};
ol{
    color: black;
}
img{

    width: 200px;
}
 table{ 
 background-color: rgb(255, 77, 77);
    color: rgb(0, 0, 0);
 }
 title{
     padding: 250px;
 }